aio-pika==6.6.1
aiofiles==0.5.0
aiormq==3.2.3
attrs==19.3.0
autobahn==20.7.1
Automat==20.2.0
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
constantly==15.1.0
cryptography==3.0
dateparser==0.7.6
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.8.12
httptools==0.1.1
httpx==0.23.0
hyperframe==5.2.0
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
multidict==4.7.6
pamqp==2.3.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
python-binance==0.7.5
python-dateutil==2.8.1
pytz==2020.1
regex==2020.7.14
requests==2.24.0
rfc3986==1.4.0
sanic==20.12.7
service-identity==18.1.0
six==1.15.0
sniffio==1.1.0
Twisted==22.4.0
txaio==20.4.1
tzlocal==2.1
ujson==5.4.0
urllib3==1.25.10
uvloop==0.14.0
websockets==8.1
yarl==1.5.1
zope.interface==5.1.0
