#!/usr/bin/env sh

# App
export APP_HOST="0.0.0.0"
export APP_PORT=8080
export APP_DEBUG=0

# RabbitMQ
export BINANCE_API_KEY=""
export BINANCE_API_SECRET=""

# Trader
export PAIR_TO_LISTEN=""
export PAIR_TO_TRADE=""

# HTTP Endopint
export CAPITAL_IN_USDT=""

. env/bin/activate
python app.py